---
import Product from "./ProductCard.astro";
import Container from "./Container.astro";

const { title, products ,showSeparator=true } = Astro.props as Props;
interface Props {
    title: string;
    products: ProductProp[]; 
    showSeparator?: boolean;
}
interface ProductProp {
  name: string;
  img: string;
  star: string;
  price: string;
  discount?: number;
}
---
<section class="product-section">
  <Container class="py-3 ">
    <h1
      class="section-title mb-8 md:mb-14 "
    >
      {title}
    </h1>
    <ul
   
      class="product-list grid [&>*]:hidden grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-8 limited-view min-[375px]:gap-x-4"
    >
      {
        products.map((product:ProductProp) => (
          <Product
            title={product.name}
            img={product.img}
            star={parseFloat(product.star)}
            fullPrice={parseFloat(product.price)}
            discountPercentage={product.discount ? product.discount : 0}
          />
        ))
      }
    </ul>
    <div class="flex justify-center mt-6">
      <button
        class="view-all-button btn btn-neutral btn-outline border-gray-500 rounded-full p-4 md:p-6 w-full
    min-[425px]:w-48"
        >View All</button
      >
    </div>
   {showSeparator && (
        <hr class="mt-10  border-t border-gray-300 my-4" />
    )}
  </Container>
</section>

